/* Public Sans */
@font-face {
	font-family: 'Public Sans';
	src: url('fonts/public-sans/PublicSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Public Sans';
	src: url('fonts/public-sans/PublicSans-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Public Sans';
	src: url('fonts/public-sans/PublicSans-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Public Sans';
	src: url('fonts/public-sans/PublicSans-SemiBoldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Public Sans';
	src: url('fonts/public-sans/PublicSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Public Sans';
	src: url('fonts/public-sans/PublicSans-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/* Body Styles */

body {
	color: #222222;
	font-family: "Public Sans", sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: 700;
}

/* Block Styles */
.wp-block-quote.is-style-govpress {
	border-left: 4px solid #0071bc;
	font-style: italic;
	padding-left: 1.5em;
}